:root {
  --bg-color: rgb(70, 45, 135);
  --hover-color: rgb(50, 30, 100);
  --text-color: rgb(255, 255, 255);
  --border-color: rgb(255, 255, 255);
}



body {
  background-color: white;
  /* background-color: var(--bg-color); */
  background-image: url("./resources/img/BlingeeBG.gif");
  color: var(--text-color);
  overflow-x: visible;
  overflow-y: visible;
}

@font-face {
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./resources/fonts/PressStart2p.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
h1,h2,h3,h4,h5 {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./resources/fonts/PTMono.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
p {
  font-family: "PT Mono", serif;
  font-weight: 400;
  font-style: normal;
}

#app {
  margin: 0 auto;
  animation: textShadow 1.5s infinite;
}

.underline {
  text-decoration: underline solid var(--text-color) 2px !important;
}

@keyframes textShadow {
  0%   {text-shadow: 0.92134px 0 1px rgba(0,30,255,0.5), -0.75632px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  5%   {text-shadow: 1.32687px 0 1px rgba(0,30,255,0.5), -0.97876px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  10%  {text-shadow: 0.45291px 0 1px rgba(0,30,255,0.5), -0.61176px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  15%  {text-shadow: 1.25857px 0 1px rgba(0,30,255,0.5), -0.73259px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  20%  {text-shadow: 1.00156px 0 1px rgba(0,30,255,0.5), -0.57403px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  25%  {text-shadow: 0.36792px 0 1px rgba(0,30,255,0.5), -0.48767px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  30%  {text-shadow: 0.83344px 0 1px rgba(0,30,255,0.5), -0.61219px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  35%  {text-shadow: 1.30486px 0 1px rgba(0,30,255,0.5), -1.11277px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  40%  {text-shadow: 1.05823px 0 1px rgba(0,30,255,0.5), -0.95410px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  45%  {text-shadow: 1.18477px 0 1px rgba(0,30,255,0.5), -1.03382px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  50%  {text-shadow: 0.51934px 0 1px rgba(0,30,255,0.5), -0.35208px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  55%  {text-shadow: 1.20475px 0 1px rgba(0,30,255,0.5), -0.70152px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  60%  {text-shadow: 1.03582px 0 1px rgba(0,30,255,0.5), -0.63412px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  65%  {text-shadow: 1.41731px 0 1px rgba(0,30,255,0.5), -0.98063px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  70%  {text-shadow: 0.52384px 0 1px rgba(0,30,255,0.5), -0.89762px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  75%  {text-shadow: 0.87921px 0 1px rgba(0,30,255,0.5), -0.36213px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  80%  {text-shadow: 1.08796px 0 1px rgba(0,30,255,0.5), -0.57521px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  85%  {text-shadow: 0.93634px 0 1px rgba(0,30,255,0.5), -0.71299px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  90%  {text-shadow: 0.61594px 0 1px rgba(0,30,255,0.5), -0.46926px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  95%  {text-shadow: 1.27685px 0 1px rgba(0,30,255,0.5), -0.99172px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  100% {text-shadow: 0.57919px 0 1px rgba(0,30,255,0.5), -0.23423px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
}